:root {
  --font-size: 14px;
}

body {
  padding: 2rem;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

main {
  display: flex;
  gap: 4rem;
}

.buttons {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}

.danger {
  --primary: #d81b60;
  --primary-hover: #e91e63;
  --primary-focus: rgba(216, 27, 96, 0.25);
}

.warning {
  --primary: #ff9800;
  --primary-hover: #ffa726;
  --primary-focus: rgba(255, 152, 0, 0.25);
}

.success {
  --primary: #4caf50;
  --primary-hover: #66bb6a;
  --primary-focus: rgba(76, 175, 80, 0.25);
}


